# dependencies
node_modules
.pnpm-store

# build / caches
.next
dist
build
coverage
.cache
.turbo

# env
.env
.env.local
.env.*.local
.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor
.DS_Store
Thumbs.db
.idea
.vscode

# Strapi uploads if local storage is ever used
public/uploads

# misc
tmp
.temp
